server/bin/*
server/obj/*
fake/bin/*
fake/obj/*
tests/bin/*
tests/obj/*
nuget/Logger/bin/*
nuget/Logger/obj/*
examples/aspnet/bin/*
examples/aspnet/obj/*
examples/aspnet/logs/*.txt
examples/dotnet/bin/*
examples/dotnet/obj/*
logs/*

nuget/RequestLogger/bin/*
nuget/RequestLogger/obj/*
.vscode/settings.json
examples/fastapi/venv/*
examples/fastapi/__pycache__/*
Pypi/Logger/__pycache__/*
