src/server/bin/*
src/server/obj/*
fake/bin/*
fake/obj/*
tests/bin/*
tests/obj/*
examples/aspnet/bin/*
examples/aspnet/obj/*
examples/aspnet/logs/*.txt
examples/dotnet/bin/*
examples/dotnet/obj/*
logs/*

src/libs/nuget/RequestLogger/bin/*
src/libs/nuget/RequestLogger/obj/*
src/libs/nuget/Logger/bin/*
src/libs/nuget/Logger/obj/*

.vscode/settings.json
examples/fastapi/venv/*
examples/fastapi/__pycache__/*
src/libs/Pypi/Logger/__pycache__/*
examples/python/main.py
src/libs/Pypi/Logger/src/LogCenter/__pycache__/*
src/libs/Pypi/Logger/dist/*
src/libs/Pypi/Logger/src/LogCenter.egg-info/*
src/client/package-lock.json


src/libs/Pypi/Logger/src/LogCenter/venv/*
examples/python/venv/*
src/libs/Pypi/RequestLogger/src/LogCenterInterceptor/__pycache__/*
examples/venv/*
src/libs/Pypi/RequestLogger/src/LogCenter.egg-info/*
src/libs/Pypi/RequestLogger/dist/*
src/libs/Pypi/RequestLogger/src/LogCenter.RequestLogger.egg-info/*
